#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 240px;
	text-align: center;
}
#btns {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 50px;
	margin-bottom: 60px;
	width: 160px;
}
#btns > div{
	margin-top: 2px;
}
.img > img{
border: 0;
width: 300px}