#info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 240px;
	text-align: center;
}
#btns {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 70px;
	margin-bottom: 60px;
	width: 100%;
	padding: 10px;
	text-align: center;
}
#btns > div{
	margin-top: 4px;
	width: 100%;
}
.img > img{
border: 0;
width: 300px
}
.tab-item.active.act {
	background-color: #428bca;
	color: white;
}
.rig {
	float: right;
color: green;
}