#info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 240px;
	text-align: center;
}
#btns {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 70px;
	margin-bottom: 60px;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: white;
}
#btns > div{
	margin-top: 4px;
	width: 100%;
}
.img > img{
	border: 0;
	width: 300px
}
.tab-item.active.act {
	background-color: #428bca;
	color: white;
}
.addIc {
	float: right;
	color: green;
}
.delIc {
	float: right;
	color: red;
}
.cen {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}
.noPadd{
	padding-left: 15px;
	padding-right: 15px;
}
.comLogo {
	height: 100px;
}
.rightSide {
	float: right;
}
.leftSide {
	float: left;
}
.inl {
	display: inline-block;
}
.inForm{
	padding-top: 10px;
}
.fir{
	width: 22%;
	display: inline-block;
}
.sec{
	width: 33%;
	display: inline-block;
}
.thr {
	width: 45%;
	display: inline-block;
}
body { 
	position: static;
}
div.card {
	margin-top: 69px;
	margin-bottom: 56px;
}
.segmented-control {
	position: fixed;
	top: 0;
	z-index: 999;
	margin-top: 42px;
}
.segmented-control .control-item {
	background-color: white;
}
#matchForm .table-view-cell > .btn.btn-outlined.btn-primary{
	width: 250px;
	position: static;
	display: inline-block;
	-webkit-transform: none;
}
.table-view-cell {
	font-size: 13px;
}
.nado {
	outline:none;
    border-color:red;
    box-shadow:0 0 10px red;
}
.bar .logout {
	right: 10px;
	position: fixed;
}
#matchForm .table-view-cell > .btn.btn-outlined.btn-primary.wi {
	width: 120px;
}
.icon-plus::before{
	content: '' !important;
}
.icon-close::before{
	content: '' !important;
}
